body {margin:0px; background:white;}


#topbar {width:100%; height:75%; background:white; position:fixed; opacity:1; border-padding:50px; right:0px; top:70px; border-radius:; display:none; transistion: display 10s linear 0s;}
#topbar>img { position:fixed; top:102px; right:13px; display:block; height:20%; width:115px; border:2px double grey; border-radius:50%;}	
#topbar:hover {background:linear-gradient(white 15%, grey 555%); }


#toplink{bottom-margin:100px;}
#home{color:black; font-weight:normal;text-decoration:none; position:fixed; left:50px; top-margin:100px;top:110px;}
#bio{color:black; font-weight:normal;text-decoration:none; position:fixed;  left:50px; top-margin:100px; top:150px;}
#media{color:black; font-weight:normal;text-decoration:none; position:fixed; left:50px; top-margin:100px; top:190px;}
#contact{color:black; font-weight:normal;text-decoration:none; position:fixed; left:50px; top-margin:100px; top:230px;}

h1{ position:absolute; text-align:center; top:15.5%; left:108px; font-family:san-serif; font-weight:lighter; font-size:26px; }

#tpflr {width:100%; background:black; top:0px; height:4%; position:fixed; display:none; opacity:1; box-shadow:.5px .5px .5px 1px black; border-radius: 0px 0px 1000px 1000px;}
#topfloor{width:33px; height:22px; right:1.6%; top:1px; background:white; border-radius:4px 4px 12px 4px; position:absolute; display:; transistion:background 5s linear 0s; animati:backgroundchange 15s infinite alternate ease-out; animation-delay:8s;}
#topfloor>div {width:26px; height:3px; margin:3px; background:black; opacity:.2; border-radius:4px; transistion:background.8s linear 0s;}
#topfloor:hover {background:rgba(0,0,0,.1); opacity:1; }
#topfloor:hover div {background:white; width:18px; opacity:1;}

#std{width:100%; height:50%; position:absolute; background:rgba(0,0,0,.01); top:29%; box-shadow:inset 0px 2px 3px 1px rgba(0,0,0,.020); opacity:1;}
#std>h2{position:absolute; left:.5%; font-size:60%; font-weight:normal; background:rgba(0,0,0,.08); color:white; letter-spacing:10px; border-radius:0px 10px 10px 0px;}
#stdi{position:absolute; left:2%; background:rgba(0,0,0,.03); width:95%; height:80%; top:11%; opacity:1; box-shadow:3px 3px 2px 1.2px rgba(0,0,0,.1); border-radius:0px 15px 15px 15px;}
#stdi>video{position:absolute; left:4%; top:2%; height:95%; width:92%;}


div {position:fixed; bottom:100%;}


#pichold{position:absolute; top:100%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 3px 1px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold>img{position:absolute; top:5%; left:5%; height:60%; width:90%;}
#pichold>h3{position:absolute; bottom:25.5%; left:15%; font-size:15px; font-weight:normal; letter-spacing:5px;}
#pichold>h4{position:absolute; bottom:15%; left:15%; font-size:10px; font-weight:lighter; letter-spacing:2px; top-margin:50px;}
#pichold>#buy{position:absolute; bottom:6%; left:90%; width:16px; height:16px; border-radius:50%; background:green; box-shadow:1px 1px 1px .3px black;}
#pichold>#spread{position:absolute; bottom:8%; left:15%; width:71%; height:7%; border-radius:2%; background:rgba(0,0,0,.03); box-shadow:1px 1px 1px .3px white; overflow:scroll;}
#pichold>#spread>h5{position:absolute; top:-28%; left:3%; font-size:10px; font-weight:normal; letter-spacing:2px;}


#pichold1{position:absolute; top:200%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 3px 1px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold1>img{position:absolute; top:5%; left:5%; height:60%; width:90%;}
#pichold1>h3{position:absolute; bottom:25.5%; left:15%; font-size:15px; font-weight:normal; letter-spacing:5px;}
#pichold1>h4{position:absolute; bottom:15%; left:15%; font-size:10px; font-weight:lighter; letter-spacing:2px; top-margin:50px;}
#pichold1>#buy{position:absolute; bottom:6%; left:90%; width:16px; height:16px; border-radius:50%; background:green; box-shadow:1px 1px 1px .3px black;}
#pichold1>#spread{position:absolute; bottom:8%; left:15%; width:71%; height:7%; border-radius:2%; background:rgba(0,0,0,.03); box-shadow:1px 1px 1px .3px white; overflow:scroll;}
#pichold1>#spread>h5{position:absolute; top:-28%; left:3%; font-size:10px; font-weight:normal; letter-spacing:2px;}


#pichold2{position:absolute; top:300%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 3px 1px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold2>img{position:absolute; top:5%; left:5%; height:60%; width:90%;}
#pichold2>h3{position:absolute; bottom:25.5%; left:15%; font-size:15px; font-weight:normal; letter-spacing:5px;}
#pichold2>h4{position:absolute; bottom:15%; left:15%; font-size:10px; font-weight:lighter; letter-spacing:2px; top-margin:50px;}
#pichold2>#buy{position:absolute; bottom:6%; left:90%; width:16px; height:16px; border-radius:50%; background:red; box-shadow:1px 1px 1px .3px black;}
#pichold2>#spread{position:absolute; bottom:8%; left:15%; width:71%; height:7%; border-radius:2%; background:rgba(0,0,0,.03); box-shadow:1px 1px 1px .3px white; overflow:scroll;}
#pichold2>#spread>h5{position:absolute; top:-28%; left:3%; font-size:10px; font-weight:normal; letter-spacing:2px;}


#pichold3{position:absolute; top:400%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 3px 1px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold3>img{position:absolute; top:5%; left:5%; height:60%; width:90%;}
#pichold3>h3{position:absolute; bottom:25.5%; left:15%; font-size:15px; font-weight:normal; letter-spacing:5px;}
#pichold3>h4{position:absolute; bottom:15%; left:15%; font-size:10px; font-weight:lighter; letter-spacing:2px; top-margin:50px;}
#pichold3>#buy{position:absolute; bottom:6%; left:90%; width:16px; height:16px; border-radius:50%; background:green; box-shadow:1px 1px 1px .3px black;}
#pichold3>#spread{position:absolute; bottom:8%; left:15%; width:71%; height:7%; border-radius:2%; background:rgba(0,0,0,.03); box-shadow:1px 1px 1px .3px white; overflow:scroll;}
#pichold3>#spread>h5{position:absolute; top:-28%; left:3%; font-size:10px; font-weight:normal; letter-spacing:2px;}

@media only screen and(min-width:1200px){
      #pichold>img{width:550px; height:650px;}
      #pichold>h3{bottom:80.5%; left:65%;}
      #pichold>h4{bottom:70%; left:65%;}
      
      #pichold1>img{width:550px; height:650px;}
      #pichold1>h3{bottom:80.5%; left:65%;}
      #pichold1>h4{bottom:70%; left:65%;}
      
      #pichold2>img{width:550px; height:650px;}
      #pichold2>h3{bottom:80.5%; left:65%;}
      #pichold2>h4{bottom:70%; left:65%;}
      
      #pichold3>img{width:550px; height:650px;}
      #pichold3>h3{bottom:80.5%; left:65%;}
      #pichold3>h4{bottom:70%; left:65%;}
      

}
