


#year{position:absolute; color:red; top:0%;  width:0%; background:transparent;}
#series{position:absolute; color:red; bottom:0%; width:0%; background:transparent;}

main{display:none;}


#preload-page{position:fixed; top:0%; left:0%; width:100%; height:100vh; background:#110117; display:block; z-index:9999; overflow:hidden;  }


#logo {position: absolute; left:50%; top: 50%;  transform: translate(-40%, -50%); animation: fill 1.5s ease forwards 3s;}
#logo path:nth-child(1){
	stroke-dasharray: 129; stroke-dashoffset: 129; animation: line-anim 1.5s ease forwards;
} 
#logo path:nth-child(2){
	stroke-dasharray: 290; stroke-dashoffset: 290; animation: line-anim 1.5s ease forwards 0.3s;
}
#logo path:nth-child(3){
	stroke-dasharray: 143; stroke-dashoffset: 143; animation: line-anim 1.5s ease forwards 0.6s;
}
#logo path:nth-child(4){
	stroke-dasharray: 215; stroke-dashoffset: 215; animation: line-anim 1.5s ease forwards 0.9s;
}
#logo path:nth-child(5){
	stroke-dasharray: 143; stroke-dashoffset: 143; animation: line-anim 1.5s ease forwards 1.2s;
}
#logo path:nth-child(6){
	stroke-dasharray: 205; stroke-dashoffset: 205; animation: line-anim 1.5s ease forwards 1.5s;
}
#logo path:nth-child(7){
	stroke-dasharray: 246; stroke-dashoffset: 246; animation: line-anim 1.5s ease forwards 1.8s;
}
#logo path:nth-child(8){
	stroke-dasharray: 176; stroke-dashoffset: 176; animation: line-anim 1.5s ease forwards 2.1s;
}
#logo path:nth-child(9){
	stroke-dasharray: 215; stroke-dashoffset: 215; animation: line-anim 1.5s ease forwards 2.4s;
}

@keyframes line-anim{
	to{ stroke-dashoffset: 0;}
}

@keyframes fill{
	from{ fill : transparent;}
	to{ fill: #0CF6E8;}
}


.preloader16 {
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	left:33%; 
	top:48%;
	
  }
  
  .preloader16 span {
	width: 16px;
	height: 16px;
	background-color: #000;
	display: inline-block;
	background-color: #18bc9c;
	-webkit-animation: square2 2s infinite ease-in-out both;
			animation: square2 2s infinite ease-in-out both;
  }
  
  .preloader16 span:nth-child(1) {
	-webkit-animation: preloader_2_1 1.5s infinite ease-in-out;
			animation: preloader_2_1 1.5s infinite ease-in-out;
  }
  
  .preloader16 span:nth-child(2) {
	left: 20px;
	-webkit-animation: preloader_2_2 1.5s infinite ease-in-out;
			animation: preloader_2_2 1.5s infinite ease-in-out;
  }
  
  .preloader16 span:nth-child(3) {
	top: 0px;
	-webkit-animation: preloader_2_3 1.5s infinite ease-in-out;
			animation: preloader_2_3 1.5s infinite ease-in-out;
  }
  
  .preloader16 span:nth-child(4) {
	top: 0px;
	left: 20px;
	-webkit-animation: preloader_2_4 1.5s infinite ease-in-out;
			animation: preloader_2_4 1.5s infinite ease-in-out;
  }
  
  @-webkit-keyframes preloader_2_1 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
			  transform: translateX(-20px) translateY(-10px) rotate(-180deg);
	  border-radius: 50%;
	  background: #3498db;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
  }
  
  @keyframes preloader_2_1 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg);
			  transform: translateX(-20px) translateY(-10px) rotate(-180deg);
	  border-radius: 50%;
	  background: #3498db;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
  }
  @-webkit-keyframes preloader_2_2 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
			  transform: translateX(20px) translateY(-10px) rotate(180deg);
	  border-radius: 50%;
	  background: #f1c40f;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
  }
  @keyframes preloader_2_2 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);
			  transform: translateX(20px) translateY(-10px) rotate(180deg);
	  border-radius: 50%;
	  background: #f1c40f;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
  }
  @-webkit-keyframes preloader_2_3 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
			  transform: translateX(-20px) translateY(10px) rotate(-180deg);
	  border-radius: 50%;
	  background: #2ecc71;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
  }
  @keyframes preloader_2_3 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg);
			  transform: translateX(-20px) translateY(10px) rotate(-180deg);
	  border-radius: 50%;
	  background: #2ecc71;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);
			  transform: translateX(0px) translateY(0px) rotate(-360deg);
	  border-radius: 0px;
	}
  }
  @-webkit-keyframes preloader_2_4 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
			  transform: translateX(20px) translateY(10px) rotate(180deg);
	  border-radius: 50%;
	  background: #e74c3c;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
  }
  @keyframes preloader_2_4 {
	0% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
			  transform: translateX(0px) translateY(0px) rotate(0deg);
	  border-radius: 0px;
	}
	50% {
	  -webkit-transform: translateX(20px) translateY(10px) rotate(180deg);
			  transform: translateX(20px) translateY(10px) rotate(180deg);
	  border-radius: 50%;
	  background: #e74c3c;
	}
	80% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
	100% {
	  -webkit-transform: translateX(0px) translateY(0px) rotate(360deg);
			  transform: translateX(0px) translateY(0px) rotate(360deg);
	  border-radius: 0px;
	}
  }
  

  #artworks-house-desktop{position:absolute;  width:100%; height:100%; left:0%; background:white; z-index:999;}

  #art1-desk{position: absolute; height:80%; width:90%; top: 10%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  .art-img{position: absolute; height:88%; width:55%; left:10%; top:6%;}
  .art-sidebar{position:fixed; height: 100%; width:30%; right:0%;  background: linear-gradient(171.62deg, rgba(17, 1, 23, 0.88) 15.65%, rgba(17, 1, 23, 0.88) 93.54%); box-shadow: 30px 50px 50px rgba(0, 0, 0, 0.05); backdrop-filter: blur(40px); z-index:999;}
  .sidebar-img{position: absolute; height:99%; width: 29.5%; right:.5%; top:.5%;  }
  #art-overlay1-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}


  #art2-desk{position: absolute; height:80%; width:90%; top: 110%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay2-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art3-desk{position: absolute; height:80%; width:90%; top: 210%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay3-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art4-desk{position: absolute; height:80%; width:90%; top: 310%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay4-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art5-desk{position: absolute; height:80%; width:90%; top: 410%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay5-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art6-desk{position: absolute; height:80%; width:90%; top: 510%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay6-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art7-desk{position: absolute; height:80%; width:90%; top: 610%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay7-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art8-desk{position: absolute; height:80%; width:90%; top: 710%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay8-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art9-desk{position: absolute; height:80%; width:90%; top: 810%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay9-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art10-desk{position: absolute; height:80%; width:90%; top: 910%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay10-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art11-desk{position: absolute; height:80%; width:90%; top: 1010%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay11-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art12-desk{position: absolute; height:80%; width:90%; top: 1110%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay12-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art13-desk{position: absolute; height:80%; width:90%; top: 1210%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay13-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art14-desk{position: absolute; height:80%; width:90%; top: 1310%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay14-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}

  #art15-desk{position: absolute; height:80%; width:90%; top: 1410%; left: 5%; background: linear-gradient(171.62deg, rgba(255, 255, 255, 0.819) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 50px 20px 50px rgba(0, 0, 0, 0.15); backdrop-filter: blur(50px);}
  #art-overlay15-desk{position: absolute; right:30.5%; width:.5%; height: 90%; top:5%; background: #110117; border-radius:20px 0px 0px 20px;}







/* laptops -----*/


/*laptops & desktops*/
@media screen and (min-width: 1200px){

	#artworks-house{display: none;}

	.art-sidebar h3{position: absolute; color: white; top: 10%; font-size: 40px; letter-spacing: 3px; }
	
	#type-input{position:absolute; width:70%; height: 3%; left:15%; top:25%; font-size:22px; font-weight: lighter; text-align: left; letter-spacing: 2px; color:white; padding:5px; border-bottom:2px solid #0CF6E8; border-radius: 0px; }
	
	#email-input{position:absolute; width:70%; height:3%;  left:15%; top:38%; font-size:22px; font-weight: lighter; text-align: left; letter-spacing: 2px; padding:5px; border-bottom:2px solid #0CF6E8; border-radius: 0px; color:white; }
	

	#location-input{position:absolute; height: 3%; width:70%; left:15%; top:51%; font-size:22px; font-weight: lighter; text-align: left; letter-spacing: 2px; color:white; text-transform:capitalize; padding:5px; border-bottom:2px solid #0CF6E8; border-radius: 0px; }
	
	#artworks-house-desktop #download{position: absolute; display: none; top: 70%;  left:52%; width: 25%; height: 6%; background: white; color: #110117; border-radius: 15px;}
	#artworks-house-desktop .icon{position: absolute;  left:38%; top: 55%;  color: #110117; font-size: 14px;}
	#artworks-house-desktop .text{position: absolute; left: 55%; color: #110117; font-size:18px ; font-weight: bold; letter-spacing: 2px;}
	
	#artworks-house-desktop .request{position: absolute; display: none; top: 70%; left:25%;  width: 25%; height: 6%; font-size: 18px; font-weight: bold; background: #0CF6E8; color: #110117; border-radius: 15px;}

	.downbar-text{position: absolute; top: 80%; font-size: 16px; font-weight: normal; color: #0CF6E8; opacity: .6; letter-spacing: 2px; }
	.downbar-img{position: absolute; top: 80%; left:20%; display: none; }
	
	 #offslide-btn{display:none;}
	 #offslide{background:black; position:fixed; width:100%; height:70px; opacity:1; display:none;}
	 
	 

	 
	 #home{color:white; text-decoration:none; font-weight:bold; position:absolute; left:0%;  top:%; letter-spacing:3px; font-size:13px; opacity:1;}
	 #bio{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:42%; letter-spacing:3px; font-size:13px; opacity:1;}
	 #works{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:49%; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #contact{color:black; font-weight:bold;text-decoration:none; position:absolute; left:8%; top:56%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #exhibition{color:black; font-weight:bold;text-decoration:none;position:absolute; left:8%; top:63%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #home:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #bio:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #works:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #contact:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #exhibition:hover{opacity:1; letter-spacing:10px; font-size:14px;}



}




/*(portraits)-----*/

/*Tablets*/
@media screen and  (min-width: 768px) and (orientation: portrait){
	 #menu-bar{display:none;}
	 
	 main{display:none;}
	 
	 
	 #preload-page{width:100%; height:100%; display:block; z-index:9999;}
	 #preload-img{position:absolute; width:100%; height:100%; display:block;}
	 #preloader{position:absolute; top:90%; right:5%; width:28px; height:28px; border-radius:50px; background:blue; display:none;}
	 @keyframes rotator{
	 from{transform:rotate(0deg)}
	 to{transform:rotate(360deg)}
		}
	#progress1{position:absolute; top:75%; width:30%; left:35%; animation:change-progress linear 1s infinite 1s alternate; display:block;}
	@keyframes change-progress{
		25%{background:brown;}
		50%{background:purple;}
		75%{background:pink;}
		100%{background:indigo;}
	}
		
	 #pichold>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold>#cart{position:absolute; bottom:5%; right:5%;}
	 
	 #pichold1>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold1>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold1>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold1>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold1>#cart1{position:absolute; bottom:5%; right:5%;}

	 #pichold2>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold2>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold2>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold2>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold2>#cart2{position:absolute; bottom:5%; right:5%;}
	 
     #pichold3>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold3>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold3>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold3>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold3>#cart3{position:absolute; bottom:5%; right:5%;} 
	 
	 #pichold4>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold4>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold4>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold4>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold4>#cart4{position:absolute; bottom:5%; right:5%;}
	 
	 #h61{top:542%; color:rgba(0,0,0,.5); position:absolute; font-size:12px; left:28.5%; text-align:center;}
	 #h62{top:542%; color:rgba(0,0,0,.5); position:absolute; font-size:12px; right:28.5%; text-align:center;}

	 #modal-form{position:absolute; height:100%; width:100%;}
	 #modal-form>h2{font-size:16px; font-weight:bold; position:absolute; top:7%; letter-spacing:5px; text-align:center;}
	 #modal-form>h3{font-size:12px;  position:absolute; right:10%; top:20%;} 
	 #modal-form>h4{font-size:10px;  position:absolute; right:10.5%; top:26%;}
	 #modal-form>button{position:absolute; top:90%; right:8%; border-radius:25px; background:#424242; border:2px solid #00838f; color:white; height:25px; font-size:15px;}
	 #modal-img{position:absolute; bottom:25%; left:5%; filter:grayscale(10);  border:1.5px solid grey; opacity:.8;}
	 #modal-dialog{height:90%; width:90%; border-radius:25px 0px 25px 25px; background:#424242 }
	 #type-input{position:absolute; width:42%; left:50%; top:40%; color:white }
	 #email-input{position:absolute; width:42%; left:50%; top:52%; color:white }
     #location-input{position:absolute; width:42%; left:50%; top:65%; color:white; text-transform:capitalize; }
	  
	 #showbar{position:fixed; height:12%; width:100%; background:white; z-index:999;}
	 #video-cover{position:absolute; top:40%; right:70%; background:orange; opacity:.4; width:21px; height:21px; border-radius:50%; filter:grayscale(100);}
	 #video-box{position:absolute; top:-3%; left:15%;}
	 #video-cover:hover{opacity:.8; filter:grayscale(0);}
	 #mail-cover{position:absolute; top:40%; right:40%; background:darkred; opacity:.4; width:21px; height:21px; border-radius:50%; filter:grayscale(100);}
	 #mail{position:absolute; top:-3%; right:15%;}
	 #mail-cover:hover{opacity:.8; filter:grayscale(0);}
	 #facebook-cover{position:absolute; top:40%; right:50%; background:darkblue; opacity:.4; width:21px; height:21px; border-radius:50%; filter:grayscale(100);}
	 #facebook-social{position:absolute; top:-3%; right:15%;}
	 #facebook-cover:hover{opacity:.8; filter:grayscale(0);}
	 #instagram-cover{position:absolute; top:40%; right:60%; background:purple; opacity:.4; width:21px; height:21px; border-radius:50%; filter:grayscale(100);}
	 #instagram-social{position:absolute; top:-3%; right:15%;}
	 #instagram-cover:hover{opacity:.8; filter:grayscale(0);}
	 #menu-cover{position:absolute; top:40%; right:30%; background:teal; opacity:.4; width:21px; height:21px; border-radius:50%; filter:grayscale(100);}
	 #offslide-btn{position:absolute; top:-3%; right:15%;}
	 #menu-cover:hover{opacity:.8; filter:grayscale(0);}
	 #close-cover{position:absolute; top:-40%; right:30%; background:teal; opacity:.4; width:21px; height:21px; border-radius:50%; filter:grayscale(100);}
	 #offslide-close{position:absolute; top:-3%; right:15%;}
	 #close-cover:hover{opacity:.8; filter:grayscale(0);}
	 #close-trigger{position:absolute; top:40%; right:30%; background:teal; opacity:.4; width:21px; height:21px; border-radius:50%; filter:grayscale(100); display:none;}
	 #offslide-trigger{position:absolute; top:-3%; right:15%;}
	 #close-trigger:hover{opacity:.8; filter:grayscale(0);}
	 

	 #offslide-btn{display:block;}
	 #offslide{background:white; position:fixed; width:100%; height:100%; left:-100%; opacity:1; display:block;}
	 #offslide-h1{position:absolute; font-size:19px; letter-spacing:2px; top:13%; left:-70%; font-family:gothic; font-weight:normal; display:none;}
	 #offslide>button{position:absolute; top:96%; right:3%;}
	 #hr1{position:absolute; width:100%; height:25%; background:transparent; top:11%; opacity:1; border-top:1px solid rgba(0,0,0,.05);  border-bottom:1px solid rgba(0,0,0,.05);}
	 #darkmode{position:absolute; top:38%; left:75%; color:black; width:0%; height:0%; }
	 
	 #toplink{}
	 #home{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%;  top:45%; letter-spacing:3px; font-size:13px; opacity:.3; text-align:center;}
	 #bio{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:52%; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #works{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:59%; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #down{position:absolute; height:0%; width:100%; top:64%; background:white;}
	 #mob-year{position:absolute; top:10.5%; left:8%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #mob-series{position:absolute; top:65%; left:8%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #works-span{position:absolute; top:60.5%; right:50%; display:block;}
	 #works-span2{position:absolute; top:60.5%; right:50%; display:none;}
	 #contact{color:black; font-weight:bold;text-decoration:none; position:absolute; left:8%; top:66%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #exhibition{color:black; font-weight:bold;text-decoration:none;position:absolute; left:8%; top:73%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #home:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #bio:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #works:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #contact:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #exhibition:hover{opacity:1; letter-spacing:10px; font-size:14px;}
}



/*Smartphones */
@media screen and  (max-width: 480px) and (orientation: portrait){
	#menu-bar{display:none;}
	
	main{display:none;}
	
	
	#preload-page{width:100%; height:100%; display:none; background: #110117; align-items: center; justify-content: center; z-index:9999;}
	#logo{position: absolute; width:150px; height:150px; left:50%; top: 50%; transform: translate(-50%, -50%);}
	#preloader-text-mobile{position: absolute; top: 51%; left:-100%; transform: translate(-50%, -50%); font-size: 7px; font-weight: lighter; font-family: sans-serif; color: white; letter-spacing:2px; display:block;}
	#preloader-text-desktop{display: none;}

   .preloader16{width:25px; left:47%; top:88%;}
   .preloader16 span{width:8px; height:8px ;}
		
	 
   
    #art1 {position:absolute; top:7.5%; height:85%; width:90%; left:5%; background: white;  border-radius: 0px;}
	#art1 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art2 {position:absolute; top:105%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art2 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art3 {position:absolute; top:200%; height:85%; width:90%; left:5%; background: white;  border-radius: 0px;}
	#art3 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art4 {position:absolute; top:295%; height:85%; width:90%; left:5%; background: white;  border-radius: 0px;}
	#art4 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art5 {position:absolute; top:390%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art5 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art6 {position:absolute; top:485%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art6 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art7 {position:absolute; top:580%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art7 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art8 {position:absolute; top:675%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art8 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art9 {position:absolute; top:770%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art9 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art10 {position:absolute; top:865%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art10 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art11 {position:absolute; top:960%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art11 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art12 {position:absolute; top:1055%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art12 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art13 {position:absolute; top:1150%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art13 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art14 {position:absolute; top:1245%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art14 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}

	#art15 {position:absolute; top:1340%; height:85%; width:90%; left:5%; background: white; border-radius: 0px;}
	#art15 img{position:absolute; width:95%; left:5%; height:100%; top:0%;}






	#art-overlay1{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay2{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay3{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay4{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay5{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay6{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay7{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay8{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay9{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay10{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay11{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay12{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay13{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay14{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}
	#art-overlay15{position: absolute; width:0%; height:100%;   background:black; opacity: .88;}


	   
	   #artworks-house h3{display: none; position: relative; text-align: center; top:35%; transform: translate(5%); color: white; font-size: 24px; font-style:bold;}
	   
	  
	   
	   #artworks-house #download{display: none;  position:absolute; left:88%; top:90%; width:9%; height: 8%; border-radius: 50px; background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px); color: #110117;  font-weight: lighter; font-size: 12px; text-decoration: none; border-radius: 10px;}
	  

	   #artworks-house #cart{display: none; position:absolute;  left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px; }
	   #artworks-house #cart1{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart2{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart3{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart4{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart5{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart6{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart7{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart8{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart9{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart10{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart11{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart12{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart13{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   #artworks-house #cart14{display: none; position:absolute; left:76%; top:90%;  width: 9%; height: 8%;  background: linear-gradient(171.62deg, rgba(12, 246, 232, 0.9) 15.65%, rgba(12, 246, 232, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px);  color:#110117; font-weight: lighter;  font-size: 12px; text-decoration: none; border-radius: 10px;}
	   
	
	
	
	
	
	.uk-modal-full{position: fixed; height: 100%; width:100%; background: #110117;}
	#modal-form{position:absolute; height:100%; width:100%;}
	#modal-form .uk-button-default {position:absolute; top:45%; left:15%; width:70%; height: 5%; font-size: 10px; font-weight: bold; outline: hidden; border: 1px solid transparent; background: #0CF6E8; color: #110117; border-radius: 8px; box-shadow: 5px 5px 45px rgba(255, 255, 255, 0.1);}
	.uk-modal-close {position:absolute; top:1%; right:1%; font-size: 9px; outline: hidden; border: 1px solid transparent; color:white; background: transparent;}
	#modal-img{position:absolute; top:80%;  width:65px; height: 65px; left: 48%; filter:grayscale(50); border-radius: 50%;}
	#modal-dialog{position:fixed; height:100%; width:100%; left:0%; top:0%; border-radius:0px; background:#110117}
	#type-input{position:absolute; width:70%; height: 3%; left:15%; top:15%; font-size:9px; font-weight: lighter; text-align: center; letter-spacing: 2px; color:white; padding:5px; border-bottom:.1px solid #0CF6E8; border-radius: 0px; }
	
	#email-input{position:absolute; width:70%; height:3%;  left:15%; top:25%; font-size:9px; font-weight: lighter; text-align: center; letter-spacing: 2px; padding:5px; border-bottom:.1px solid #0CF6E8; border-radius: 0px; color:white; }
	

	#location-input{position:absolute; height: 3%; width:70%; left:15%; top:35%; font-size:9px; font-weight: lighter; text-align: center; letter-spacing: 2px; color:white; text-transform:capitalize; padding:5px; border-bottom:.1px solid #0CF6E8; border-radius: 0px; }
	.fast-cart{position: absolute; bottom:2%; left:3%; width:35px; height:30px; filter: grayscale(50);}
	.purchase-downbar{position: absolute;  bottom:0%; left:0%; width: 100%; max-height: 100%;}
	.downbar-text{position: absolute; color: #110117; top:91%; font-size: 8px; font-weight: bolder; letter-spacing: 1px; opacity: .4;} 
	.downbar-img{position: absolute; top:92%; left:25%; width: 20px; height: 20px;}

	#artworks-house{position:absolute;  width:100%; height:100%; left:0%; background:white; display: block; z-index:999;}
	#artworks-house-desktop{display: none;}
	
	
	.navbar-sidebar{position: fixed; top:0%; left: 0%; width:11%;  height: 100%; background: white; border-radius:0px 4px 4px 0px; z-index: 999;}
	.navbar-sidebar img{position: absolute; right:-25%; top: 18%; z-index: 999;}
	.navbar-sidebar #menu-btn {position: absolute; top:20%; right:65%; width: 107px; height:23px; z-index: 999; }

	#ame_support_guide{position: fixed; display: block; width: 0%; right: -100%; height: 8%; bottom:-108%; background:linear-gradient(171.62deg, rgba(255, 255, 255, 0.9) 15.65%, rgba(255, 255, 255, 0.459) 93.54%); box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); backdrop-filter: blur(50px); z-index: 999; border-radius: 10px;  }
	
	#bot-glass{position: absolute; width: 1%; height: 100%; right: 15%; top:0%; background:#0CF6E8; z-index: 99999; }
	
	.bot-sidebar{position: absolute; width: 15%; height: 100%; top:0%; background: #110117; right:0%; border-radius: 0px 10px 10px 0px;}
	
	
	.bot-message{position:relative; text-align: center; top:-15%;  font-size: 10px; font-weight: bold; color:#110117; letter-spacing: 2px; opacity: 1;}
	.bot-close{position: absolute;   color: #0CF6E8; font-size: 48px; font-weight: bold; opacity: 1;}

	#close-trigger{position:absolute;  top:2%; right:5%; color: #110117; display:none;}
		
		 
	#offslide{background: white; position:fixed; width:100%; top:0%; height:100%; left:-100%; opacity:1; border-radius:0px 0px 0px 0px; display:block; z-index:999;}
	#offslide-down-1{position:fixed;  height:20%; background:#110117; bottom:-108%; width:0%; right:0%; border-radius:600px 30px 30px 0px; opacity:1; }
	
	.instagram-overlay{position: absolute; top:40%; left:36%; width:10%; height:30%; background: #110117; border-radius: 10%; box-shadow: inset -12px -9px 16px rgba(28, 9, 59, 0.2), inset 12px 9px 16px rgba(28, 9, 59, 0.2);}
	.facebook-overlay{position: absolute; top:40%; left:50%; width: 10%; height: 30%; background: #110117; border-radius: 10%; box-shadow: inset -12px -9px 16px rgba(28, 9, 59, 0.2), inset 12px 9px 16px rgba(28, 9, 59, 0.2);}
	.twitter-overlay{position: absolute; top:40%; left:64%; width: 10%; height: 30%; background: #110117; border-radius: 10%; box-shadow: inset -12px -9px 16px rgba(28, 9, 59, 0.2), inset 12px 9px 16px rgba(28, 9, 59, 0.2);}


	.fa-instagram{color:#0CF6E8; font-size: 12px; z-index: 999;}
	.fa-facebook-f{color:#0CF6E8; font-size: 12px; z-index: 999;}
	.fa-twitter{color:#0CF6E8; font-size: 12px; z-index: 999;}
		 
	
	#darkmode{position:absolute; top:32%; left:75%; color:black; width:0%; height:0%; }
	
	#toplink{position:fixed; width:100%; height:100%; margin-left:6vw; margin-top:-5vw;  box-sizing: border-box;}
   
	#home{position:absolute;  left: 96px; top: 90px; font-family:sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; align-items: center; text-align: center; letter-spacing: 0.1em; opacity:1; color: #110117; text-decoration:none;}
	#painting{position: absolute;  left: 96px; top: 140px; font-family:sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:1; color:  #110117; text-decoration:none;}
		   #down{position:absolute;  height:0%; width:100%; top:43%; left:1.8%; background:white;}
		   #mob-year{position:absolute; top:10.5%; left:40%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:10px; opacity:.3;}
		   #mob-series{position:absolute; top:65%; left:40%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:10px; opacity:.3;}
		   #works-span{position:absolute; top:39.6%; right:64%;  color:#00695c; font-size:8px; font-weight:bold; display:none; }
		   #works-span2{position:absolute; top:39.6%; right:64%; color:#00695c; font-size:8px; font-weight:bold; display:none;}
	#exhibition{position: absolute;  left: 96px; top: 190px; font-family:sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:1; color: #110117; text-decoration:none;}
	#profile{position: absolute; left: 96px; top: 240px; font-family:sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:1; color: #110117; text-decoration:none;}
	#contact{position: absolute; left: 96px; top: 290px;font-family:sans-serif; font-style: normal; font-weight: normal; font-size: 18px; line-height: 32px; text-align: center; letter-spacing: 0.1em; opacity:1; color: #110117; text-decoration:none;}
	#home:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
	#painting:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
	#exhibition:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
	#profile:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}
	#contact:hover{letter-spacing:0.2em; font-size:20px; opacity: 1;}

}



@media screen and  (min-width: 280px) and (max-width: 319px) and (orientation: portrait){
	#toplink{margin-top:5vw; margin-left:2vw;}
	.navbar-house{width:25%;}
	#menu-btn{right:-58%; top:8%;}
	#menu-name{left:-15%; top:10%; font-size:9px;}
}



/* iphones -------*/
@media screen and  (min-width: 360px) and (orientation: portrait){
	#toplink{margin-top:5vw; margin-left:13vw;}
	#menu-btn{right:-50%; top:8%;}
	#menu-name{left:-19%; top:10%; font-size:9px;}
}

@media screen and  (min-width: 410px) and (orientation: portrait){
	#toplink{margin-top:12vw; margin-left:17.5vw;}
	#menu-btn{right:-42%; top:10%;}
}

@media screen and  (min-height: 812px) and (orientation: portrait){
	#toplink{margin-top:25vw; margin-left:14vw;}
	#menu-btn{right:-48%; top:17%;}
}
