

#menu-bar>nav{background:teal; position:absolute; top:-100%;}
#year{position:absolute; color:red; top:0%;  width:0%; background:transparent;}
#series{position:absolute; color:red; bottom:0%; width:0%; background:transparent;}


#preload-page{position:fixed; top:0%; left:0%; width:100%; height:100%; background:white; display:block; z-index:999; overflow:hidden; }
#preload-img{position:absolute; width:100%; height:100%; display:none;}
#preloader-cover{position:absolute; display:block;  width:60px; height:60px; background:transparent; opacity:1; border-radius:50%; animation:scally ease-out 1s infinite .2s alternate; }
#preloader{position:absolute; display:block;  width:100%; height:100%; background:rgba(0,0,0,.1); border-radius:50%; animation:backchange ease-out 1s infinite .2s alternate-reverse; }

@keyframes backchange{
	25%{background:rgba(0,0,0,.08);}
	50%{background:rgba(0,0,0,.06);}
	75%{background:rgba(0,0,0,.04);}
	100%{background:rgba(0,0,0,.02);}
}
@keyframes scally{
		from{transform:scale(3.5,3.5);}
		to{transform:scale(1,1);}
	}


#pichold{position:absolute; top:5%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 18px 2px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px; display:block;}
#pichold>img{position:absolute; top:5%; left:5%; height:85%; width:45%;}
#pichold>h3{position:absolute; bottom:82.5%; right:4%; font-size:15px; font-weight:bold; letter-spacing:5px; color:teal;}
#pichold>h4{position:absolute; bottom:78%; right:5%; font-size:10px; font-weight:normal; letter-spacing:2px; top-margin:50px;}
#pichold>#download{position:absolute; bottom:10%; right:8%;}
#pichold>#cart{position:absolute; bottom:10%; right:5%;}

#pichold1{position:absolute; top:105%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 18px 2px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold1>img{position:absolute; top:5%; left:5%; height:85%; width:45%;}
#pichold1>h3{position:absolute; bottom:82.5%; right:4%; font-size:15px; font-weight:bold; letter-spacing:5px; color:teal;}
#pichold1>h4{position:absolute; bottom:78%; right:5%; font-size:10px; font-weight:normal; letter-spacing:2px; top-margin:50px;}
#pichold1>#download{position:absolute; bottom:10%; right:8%;}
#pichold1>#cart1{position:absolute; bottom:10%; right:5%;}

#pichold2{position:absolute; top:205%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 18px 2px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold2>img{position:absolute; top:5%; left:5%; height:85%; width:45%;}
#pichold2>h3{position:absolute; bottom:82.5%; right:4%; font-size:15px; font-weight:bold; letter-spacing:5px; color:teal;}
#pichold2>h4{position:absolute; bottom:78%; right:5%; font-size:10px; font-weight:normal; letter-spacing:2px; top-margin:50px;}
#pichold2>#download{position:absolute; bottom:10%; right:8%;}
#pichold2>#cart2{position:absolute; bottom:10%; right:5%;}

#pichold3{position:absolute; top:305%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 18px 2px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold3>img{position:absolute; top:5%; left:5%; height:85%; width:45%;}
#pichold3>h3{position:absolute; bottom:82.5%; right:4%; font-size:15px; font-weight:bold; letter-spacing:5px; color:teal;}
#pichold3>h4{position:absolute; bottom:78%; right:5%; font-size:10px; font-weight:normal; letter-spacing:2px; top-margin:50px;}
#pichold3>#download{position:absolute; bottom:10%; right:8%;}
#pichold3>#cart3{position:absolute; bottom:10%; right:5%;}

#pichold4{position:absolute; top:405%; left:2%; height:95%; width:96%; background:rgba(0,0,0,.01); box-shadow:0px .8px 18px 2px rgba(0,0,0,.1); border-radius:0px 30px 0px 0px;}
#pichold4>img{position:absolute; top:5%; left:5%; height:85%; width:45%;}
#pichold4>h3{position:absolute; bottom:82.5%; right:4%; font-size:15px; font-weight:bold; letter-spacing:5px; color:teal;}
#pichold4>h4{position:absolute; bottom:78%; right:5%; font-size:10px; font-weight:normal; letter-spacing:2px; top-margin:50px;}
#pichold4>#download{position:absolute; bottom:10%; right:8%;}
#pichold4>#cart4{position:absolute; bottom:10%; right:5%;}

#toplink{display:block;}

@media only screen and (min-width:768px){
	  #modal-form{position:absolute; height:100%; width:100%;}
	 #modal-form>h2{font-size:16px; font-weight:bold; position:absolute; top:7%; letter-spacing:5px; text-align:center;}
	 #modal-form>h3{font-size:12px;  position:absolute; right:10%; top:20%;} 
	 #modal-form>h4{font-size:10px;  position:absolute; right:10.5%; top:26%;}
	 #modal-form>button{position:absolute; top:90%; right:8%; border-radius:8px; background:teal; color:white; height:25px; font-size:15px;}
	 #modal-img{position:absolute; bottom:10%; width:30%; height:75%; filter:grayscale(10); opacity:.8;}
	 #modal-dialog{height:90%; width:90%; border-radius:25px 0px 25px 25px; }
	 #type-input{position:absolute; width:42%; left:50%; top:40%; color:teal }
	 #email-input{position:absolute; width:42%; left:50%; top:52%; color:teal }
     #location-input{position:absolute; width:42%; left:50%; top:65%; color:teal; text-transform:capitalize; }
	 
	 #video-cover{position:absolute; top:535%; left:600px; background:teal; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #video-box{position:absolute; top:-3%; left:15%;}
	 #mail-cover{position:absolute; top:535%; left:630px; background:darkred; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #mail{position:absolute; top:-3%; right:15%;}
	 #facebook-cover{position:absolute; top:535%; left:660px; background:darkblue; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #facebook-social{position:absolute; top:-3%; right:15%;}
	 #instagram-cover{position:absolute; top:535%; left:690px; background:purple; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #instagram-social{position:absolute; top:-3%; right:15%;}
	 #top-scroll{position:absolute; top:535%; left:720px; background:black; opacity:.7; width:21px; height:21px; border-radius:35%;}
	 #top{position:absolute; top:-3%; right:10%;}
	 

	
	 #offslide-btn{display:none;}
	 #offslide{background:black; position:fixed; width:100%; height:70px; opacity:1; display:none;}
	 #offslide>h1{position:absolute; font-size:20px; letter-spacing:2px; top:-4%; left:15%; display:block;}
	 #offslide>button{position:absolute; top:93%; right:6%;}
	 #hr1{position:absolute; width:100%; height:6.5%; background:rgba(0,0,0,.035); top:12%; opacity:1; border-top:1px solid rgba(0,0,0,.05);  border-bottom:1px solid rgba(0,0,0,.05);}
	 #year-input{position:absolute; width:70%; left:1%; height:60%; top:18.5%; text-align:center; font-weight:bold; font-size:12px; text-decoration:none;}
	 
	 #h61{top:550%; color:teal; position:absolute; font-size:14px; left:43%; text-align:center;}
	 #h62{top:550%; color:black; position:absolute; font-size:14px; left:50%; text-align:center;}


	 
	 #home{color:white; text-decoration:none; font-weight:bold; position:absolute; left:0%;  top:%; letter-spacing:3px; font-size:13px; opacity:1;}
	 #bio{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:42%; letter-spacing:3px; font-size:13px; opacity:1;}
	 #works{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:49%; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #contact{color:black; font-weight:bold;text-decoration:none; position:absolute; left:8%; top:56%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #exhibition{color:black; font-weight:bold;text-decoration:none;position:absolute; left:8%; top:63%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #home:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #bio:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #works:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #contact:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #exhibition:hover{opacity:1; letter-spacing:10px; font-size:14px;}



}

@media only screen and (max-width:768px){
	 #menu-bar{display:none;}
	 
	 main{display:none;}
	 
	 
	 #preload-page{width:100%; height:100%; display:block; z-index:9999;}
	 #preload-img{position:absolute; width:100%; height:100%; display:block;}
	 #preloader{position:absolute; top:90%; right:5%; width:28px; height:28px; border-radius:50px; background:blue; display:none;}
	 @keyframes rotator{
	 from{transform:rotate(0deg)}
	 to{transform:rotate(360deg)}
		}
	#progress1{position:absolute; top:75%; width:30%; left:35%; animation:change-progress linear 1s infinite 1s alternate; display:block;}
	@keyframes change-progress{
		25%{background:brown;}
		50%{background:purple;}
		75%{background:pink;}
		100%{background:indigo;}
	}
		
		
	 #pichold>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold>#cart{position:absolute; bottom:5%; right:5%;}
	 
	 #pichold1>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold1>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold1>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold1>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold1>#cart1{position:absolute; bottom:5%; right:5%;}

	 #pichold2>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold2>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold2>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold2>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold2>#cart2{position:absolute; bottom:5%; right:5%;}
	 
     #pichold3>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold3>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold3>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold3>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold3>#cart3{position:absolute; bottom:5%; right:5%;} 
	 
	 #pichold4>img{width:84%; left:8%; height:70%; top:8%;}
     #pichold4>h3{bottom:10.5%; left:15%; color:black; font-weight:normal;}
     #pichold4>h4{bottom:8%; left:15%; color:teal; font-weight:lighter;}
	 #pichold4>#download{position:absolute; bottom:5%; right:10%;}
	 #pichold4>#cart4{position:absolute; bottom:5%; right:5%;}
	 
	 #h61{top:550%; color:teal; position:absolute; font-size:12px; left:28.5%; text-align:center;}
	 #h62{top:550%; color:black; position:absolute; font-size:12px; right:28.5%; text-align:center;}

	 #modal-form{position:absolute; height:100%; width:100%;}
	 #modal-form>h2{font-size:16px; font-weight:bold; position:absolute; top:7%; letter-spacing:5px; text-align:center;}
	 #modal-form>h3{font-size:12px;  position:absolute; right:10%; top:20%;} 
	 #modal-form>h4{font-size:10px;  position:absolute; right:10.5%; top:26%;}
	 #modal-form>button{position:absolute; top:90%; right:8%; border-radius:8px; background:teal; color:white;}
	 #modal-img{position:absolute; bottom:25%; left:5%; filter:grayscale(10); opacity:.8;}
	 #modal-dialog{height:90%; width:90%; border-radius:25px 0px 25px 25px; }
	 #type-input{position:absolute; width:42%; left:50%; top:40%; color:teal }
	 #email-input{position:absolute; width:42%; left:50%; top:52%; color:teal }
     #location-input{position:absolute; width:42%; left:50%; top:65%; color:teal; text-transform:capitalize; }
	  
	 #video-cover{position:absolute; top:529%; right:5px; background:teal; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #video-box{position:absolute; top:-3%; left:15%;}
	 #mail-cover{position:absolute; top:529%; right:35px; background:darkred; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #mail{position:absolute; top:-3%; right:10%;}
	 #facebook-cover{position:absolute; top:529%; right:65px; background:darkblue; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #facebook-social{position:absolute; top:-3%; right:10%;}
	 #instagram-cover{position:absolute; top:529%; right:95px; background:purple; opacity:.4; width:21px; height:21px; border-radius:35%;}
	 #instagram-social{position:absolute; top:-3%; right:10%;}
	 #top-scroll{position:absolute; top:529%; right:125px; background:black; opacity:.7; width:21px; height:21px; border-radius:35%;}
	 #top{position:absolute; top:-3%; right:10%;}
	 
	 

	
	 #offslide{background:white; position:fixed; width:200px; height:100%; left:-100%; opacity:1; display:block;}
	 #offslide-h1{position:absolute; font-size:19px; letter-spacing:2px; top:-3%; left:-70%; font-family:gothic; font-weight:normal;}
	 #offslide>button{position:absolute; top:96%; right:3%;}
	 #hr1{position:absolute; width:100%; height:25%; background:transparent; top:11%; opacity:1; border-top:1px solid rgba(0,0,0,.05);  border-bottom:1px solid rgba(0,0,0,.05);}
	 #darkmode{position:absolute; top:38%; left:75%; color:black; width:0%; height:0%; }
	 
	 #toplink{}
	 #home{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%;  top:45%; letter-spacing:3px; font-size:13px; opacity:.3; text-align:center;}
	 #bio{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:52%; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #works{color:black; text-decoration:none; font-weight:bold; position:absolute; left:8%; top:59%; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #down{position:absolute; height:0%; width:100%; top:64%; background:white;}
	 #mob-year{position:absolute; top:10.5%; left:8%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #mob-series{position:absolute; top:65%; left:8%; display:none; color:black; text-decoration:none; font-weight:bold; letter-spacing:3px; font-size:13px; opacity:.3;}
	 #works-span{position:absolute; top:60.5%; right:50%; display:block;}
	 #works-span2{position:absolute; top:60.5%; right:50%; display:none;}
	 #contact{color:black; font-weight:bold;text-decoration:none; position:absolute; left:8%; top:66%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #exhibition{color:black; font-weight:bold;text-decoration:none;position:absolute; left:8%; top:73%; letter-spacing:3px; font-size:13px; opacity:.3}
	 #home:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #bio:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #works:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #contact:hover{opacity:1; letter-spacing:10px; font-size:14px;}
	 #exhibition:hover{opacity:1; letter-spacing:10px; font-size:14px;}
}